#section2 {
  width: 100%;
  height: 725px;
  background-color: white;
  color: black;
}

.frame_hm {
  overflow: hidden;
  margin-top: 155px;
  margin-bottom: 25px;
  width: 100%;
  height: 744px;
  box-sizing: border-box;
  /*
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  */
  position: fixed;
  overflow: hidden;
}

.frame_rcd {
  margin: 0px 0px 0px 0px;
  background-color: white;
  width: 100%;
  height: auto;
}

.frame_rcd > #section2 > #top {
  margin-left: 10px;
}

.list {
  margin: 5px 0px 5px 10px;
}

.list a {
  text-decoration: none;
  color: black;
}
.list a:hover {
  color: green;
}

.frame_rcd > #section2 > article > #link {
  margin-left: 10px;
}

.frame_abtme {
  margin: 0px 0px 0px 0px;
  background-color: white;
  width: 100%;
  height: auto;
}

.frame_abtme > #section2 > #top {
  margin-left: 10px;
}

.frame_abtme > #section2 > #birth {
  margin-left: 10px;
}

.frame_abtme > #section2 > #hobby {
  margin-left: 10px;
}

.frame_abtme > #section2 > #now {
  margin-left: 10px;
}

.frame_meet {
  margin: 0px 0px 0px 0px;
  background-color: white;
  width: 100%;
  height: auto;
}

.frame_meet > #section2 > ul {
  list-style: none;
  margin-left: 10px;
}

.frame_meet > #section2 > ul > li {
  margin: 10px 0px 10px 0px;
}

.frame_meet > #section2 > ul > li > a {
  text-decoration: none;
  color: black;
}

.frame_meet > #section2 > ul > li > a:hover {
  color: green;
}

.frame_meet > #section2 > h2 {
  margin-left: 10px;
}

.frame_meet > #section2 > h4 {
  margin-left: 10px;
}
